<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>weather_form</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}
    <form action="{% url 'weather' %}" method="POST">
        {% csrf_token %}
        <label for="city">Enter the city name</label>
        <input type="text" name="city" id="city">
        <button type="submit" value = 'weather'> Submit </button>

    </form>
</body>
</html>